*:not(li,ul) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

iframe {
    width: 50%;
    aspect-ratio: 16/9;
}

body {
    background-color: #464646;
}

h1 {
    color: lightblue;
}

img {
    width: 50%;
}

h2 {
    font-variant: small-caps;
    color: green;
}

strong {
    background-color: #ffd700f0;
    border-radius: 2px;
}