* {
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #464646;
    padding-top: 5px;
    padding-bottom: 5px;
}

#body_cour *:not(li, ul) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body_cour iframe {
    width: 50%;
    aspect-ratio: 16/9;
}

#body_cour h1 {
    color: lightblue;

}

#body_cour h2 {
    font-variant: small-caps;
    color: lightgreen;
}

#body_cour img {
    width: 50%;
}

#body_cour p {
    margin-left: 5px;
}

#body_cour strong {
    background-color: #ffd700f0;
    border-radius: 2px;
}

#body_cour ul {
    margin-bottom: 0;
}

/* create checkbox */

#choose_type {
    position: fixed;
    top: 5px;
    right: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2cd435;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2cd435;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Custom scroll bar */

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}