* {
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #464646;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 100vh;
}

*:not(li, ul) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    width: 50%;
    aspect-ratio: 16/9;
}

h1 {
    color: lightblue;

}

h2 {
    font-variant: small-caps;
    color: lightgreen;
}

img {
    width: 50%;
}

p {
    margin-left: 5px;
}

strong {
    background-color: #ffd700f0;
    border-radius: 2px;
}

ul {
    margin-bottom: 0;
}

p {
    word-wrap: break-word;
    max-width: 250px;
}